---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;700&display=swap');
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// "Cafe24Oneprettynight"
@font-face {
    font-family: 'Sora', sans-serif;
    // font-family: 'Cafe24Oneprettynight';
     src: url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;700&display=swap');
    font-weight: normal;
    font-style: normal;
}

body {
        font-family: 'Sora', sans-serif;
    }